.inactiveEvenField.activeField {
    width: 100px;
    float: left;
    height: 100px;
    margin: 0;
    background-color: dodgerblue;
}
.inactiveOddField.activeField {
    width: 100px;
    float: left;
    height: 100px;
    margin: 0;
    background-color: dodgerblue;
}

.inactiveEvenField {
    width: 100px;
    float: left;
    height: 100px;
    margin: 0;
    background-color: Wheat;
}
.inactiveOddField {
    width: 100px;
    float: left;
    height: 100px;
    margin: 0;
    background-color: Sienna;
}
