<h1>Choose a chess piece</h1>

@section JavaScript
{
    <script type="text/javascript" src="~/Scripts/chessBoard.js"></script>
}

<script>

    function createChessPiecesDiv() {

        var mainBody = document.getElementsByTagName("body")[0];

        mainBody.appendChild(document.createElement("div")).setAttribute("id", "piecesDiv");
        var piecesDiv = document.getElementById("piecesDiv");

        createPieceLink("Rook", 6, piecesDiv);
        createPieceLink("King", 2, piecesDiv);
    }

    function createPieceLink(pieceName, resourceNr, parentDiv) {

        var name = pieceName;
        var ref = "/ChessBoard/" + name;

        var newAnch = document.createElement("a");
        newAnch.setAttribute("href", ref);

        var newImg = document.createElement("img");
        newImg.setAttribute("id", name);

        var resNr = "/Resources/" + resourceNr + ".png";
        newImg.setAttribute("src", resNr);
        newImg.setAttribute("class", "pieceImg");
        newImg.setAttribute("draggable", "true");
        newImg.setAttribute("ondragstart", "drag(event)");

        var newDiv = document.createElement("div");
        newDiv.setAttribute("class", "pieceLinkField");
        newDiv.setAttribute("ondrop", "drop(event)");
        newDiv.setAttribute("ondragover", "allowDrop(event)");

        newDiv.appendChild(newImg);
        newAnch.appendChild(newDiv);
        parentDiv.appendChild(newAnch);
    }

    createDivChessBoard();
    createChessPiecesDiv();

</script>